
.custom-cluster-icon{
  background-color: blue; /* Change the background color to blue */
  color: white; /* Change the text color to white */
  border-color: blue; /* Change the border color to blue */
}


html{
    scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

body {
    font-family: 'Reddit Mono', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    max-width: 1100px;
    margin: auto;
}

header{
    background-color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Reddit Mono', sans-serif;
}

h2{
  font-family: 'Averia Serif Libre', sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.about-text h2{
  margin-bottom:0;
}

.about a{
  color:blue;
}

h4{
  font-family: 'Poppins', sans-serif;
  font-style:italic;
  font-size: 12pt;
  margin-top:10px;
  margin-bottom: 5px;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: white;
}

nav h1 {
    color: black;
}
  
nav a {
    color: black;
    transition: blue;
}

nav a:hover {
    color: blue;
    border-bottom: 2px solid blue;
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: bold;
}

.welcome-text{
  text-align:center;
  padding-top:30px;
  padding-bottom:50px;
}

button {
  display: inline-block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.scroll-down{
  text-align:center;
  font-size:10pt;
}

.button-scroll-down img{
  width: 20px;
  height: 20px;
  padding-bottom:100px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center bottom;
    gap: 2.5rem;
    max-width: 100%;
    margin: auto;
    padding-bottom:0px;
    margin-bottom:0px;
    object-fit: fill;
    object-position: top;

}

.hero img {
  height: 20.75rem;
  width: 100%;
  object-position:top; 

}

.about{
  font-family: 'Poppins', sans-serif;
  display:flex;
  flex-direction: column;
  padding:0px 100px;
}

.video-container{
  display:flex;
  justify-content: center;
  align-items:center;
  padding-top:20px;
}

iframe{
  min-width: 100%;
  width:auto;
  height:auto;
  min-height: 620px; 
}

.works {
    background-color: white;
    padding: 0px 0;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;

  }
  
  .work-pic {
    width: 75px; 
    height: 75px; 
    object-fit: cover; 
  }
  
  .works-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .works-title {
    text-align: left;
    padding-left:9px;
    margin-bottom: 1rem;
  }

  
  .work-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }
  
  .work-container p {
    padding: 0.4rem;
  }
  
  .work-title {
    margin-bottom: 1rem;
  }
  
  .work-details {
    margin-bottom: 1rem;
    font-size: 8pt;
  }

  .work-card {
    background-color: white;
    border-radius: 0px;
    border-style:solid;
    padding: 20px;
    margin: 10px;
  }

.center{
  text-align: center;
  font-style:italic;
}

.about-text a{
  color:blue;
}

.about-text p{
  font-family: 'Poppins', sans-serif;
}

.ps{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 8pt;
}

#map {
    height:auto;
    min-height:600px;
    min-width:300px;
    width: 100%;
}

#map-id p{
  margin:0;
}

.map{
  padding:0px 100px;
}

footer{
    background-color: black;
    color:white;
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

.footer-name a{
  font-size:normal;
  font-family: 'Reddit Mono', sans-serif;
  color: white; 
  text-decoration: none;
  padding:5px;
}

.footer-links a {
    font-family: 'Reddit Mono', sans-serif;
    color: white; 
    text-decoration: none;
    font-size: small;
    padding:5px;
}

footer a:hover{
  color:blue;
  cursor: pointer;
}

.work-in-progress-banner {
  background-color: #ffc107; 
  color: black; 
  padding: 5px; 
  font-size:smaller;
  text-align: center;
}

.work-in-progress-banner p {
  margin: 0; 
}




@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
      }

        
    .hero {
        /* margin-top: -4rem; */
        flex-direction: column;
        gap: 0;
        padding:0ps;
    }

    .welcome-text{
      margin-top:0;
      padding:0px 5px;
    }
    
    .scroll-down{
      padding:0;
      margin-bottom:5px;
    }


    section {
      max-width: 600px;
      margin: auto;
      padding: 0px 20px;
    }

    .hero img {
            height: 50%;
            width: 100%;
            image-rendering:optimizeQuality;
            object-fit: contain; 
            object-position: top; 
        }

    .works-container {
        flex-direction: column;
      }
    
      .work-container {
        width: 20.875rem;
      }
  }

  @media screen and (max-width: 420px) {
    .hero img {
      display:none;
    }

    #map {
      height:auto;
      min-height:600px;
      min-width:300px;
      width: 100%;
  }
  
    .work-container {
      width: 17.875rem;
    }

    section {
      max-width: 300px;
      margin: auto;
    }
  } 
